<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head> 
        <title>Pojistence</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="container w-75 my-5">
            <div class="d-flex mt-2 mb-3 border p-2">
                <p class="h3 mr-auto">Pojíštěnci</p>
                <a href="/home/add" class="col-3 btn btn-success">Nový</a>
            </div>
            
            <div>
                <table class="table table-striped table-hover">
                <tr th:each = "el : ${pojistene}">
                    <td class="col-2" th:text="${el.id}"></td>
                    <td class="col-4" th:text="${el.jmeno}"></td>
                    <td class="col-4" th:text="${el.prijmeni}"></td>
                    <td class="col">
                        <div class="col-3 btn-group" role="group" aria-label="Výběr možnosti">
                            <a type="button" class="btn btn-primary" th:href="'/home/detail/' + ${el.id}">Podrobnosti</a>
                            <a type="button" class="btn btn-warning" sec:authorize="hasRole('ADMIN')" th:href="'/home/edit/' + ${el.id}">Editovat</a>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            
            <div class="d-flex flex-column mt-4">
                <form th:action="@{/logout}" method="post" class="d-flex w-100">
                    <button  type="submit" class="col-2 btn btn-secondary">Odhlásit se</button>
                </form> 
                <div sec:authorize ="isAuthenticated()" class="d-flex w-100">
                    <small class="col-2 d-flex justify-content-center text-muted">
                        <p sec:authentication ="name"></p>
                    </small>
                </div>
            </div>
            
        </div>
        
    </body>
</html>
