<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Pojištění</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="container w-75 my-5" th:each = "el : ${pojistene}">
            <div class="d-flex mt-2 mb-3 border p-2">
                <p class="h3 mr-auto" th:text="'Přehled pojištění ' + ${el.jmeno} + ' ' + ${el.prijmeni}"></p>
                <a th:href="'/home/detail/' + ${el.id} + '/pridatPojisteni'" class="col-2 btn btn-primary mr-2">Přídat pojístění</a>
                <a th:href="'/home/detail/' + ${el.id}" class="col-1 btn btn-primary">Zpět</a>
            </div>
            
            <div>
                <table class="table table-striped table-hover">
                <tr th:each="el : ${pojisteni}">
                    <td class="col-2" th:text="${el.nazev_pojisteni}"></td>
                    <td class="col-4" th:text="${el.typ_pojisteni}"></td>
                    <td class="col-4" th:text="${el.pojistna_castka}"></td>
                    <td class="col">
                        <div class="col-3 btn-group" role="group" aria-label="Výběr možnosti">
                            <a type="button" class="btn btn-warning" th:href="'/home/pojisteni/edit/' + ${el.id}">Editovat</a>
                            <form th:action="'/home/pojisteni/remove/' + ${el.id}" method="post" class="d-flex w-100">
                                <button  type="submit" class="btn btn-danger ml-auto">Odstranit</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </table>
            </div>   
            
        </div>
        
    </body>
</html>

